{% extends "users/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load waffle_tags %}

{% block head_title %} {{ user.username }} - Team Update {% endblock head_title %}

{% block inner %}
{% flag "update_team" %}

    {% if object.organisation == user.userorganization %}
        <h1>{% trans "Update Team" %}</h1>
        <hr/>
        <h5>{% trans "Update team details." %}</h5>
        </br >
        <form class="create_team" id="myForm" method="post" action="{% url 'teams:update' team.slug %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">
                <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                <span class="btn-txt">{% trans "Update Team" %} &raquo;</span>
            </button>
            <a id="create-team" class="btn-link ml-5" href="{% url 'teams:list' %}">{% trans "Cancel" %}</a>
        </form>
    {% else %}
        <h1>{% trans "We're sorry" %}</h1>
        <hr/>
        <p>{% trans "The page you're looking for can't be found." %} </p>
    {% endif %}
{% else %}
    {% if request.user.is_admin %}
    <h3>{% trans "To manage Teams, please upgrade your subscription." %}</h3>
    <a class="btn btn-success btn-md" href="{% url 'payment:enroll' %}">{% trans "Upgrade now" %}</a>
    {% else %}
    <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> {% trans " The subscription of your Organisation does not allow you to use this feature. Please contact your organisation administrator to upgrade." %}</h3>
    {% endif %}
{% endflag %}

{% endblock %}