{% extends "users/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load waffle_tags %}

{% block head_title %} {{ user.username }} - Product manufacturer Delete {% endblock head_title %}

{% block inner %}
{% flag "delete_manufacturer" %}
    {% if manufacturer.organisation == user.userorganization %}
        <h1>Delete Product manufacturer</h1>
        <hr/>
        </br >
        <form id="myForm" method="post">{% csrf_token %}
            <h2>{% trans "Are you sure you want to delete the manufacturer " %} {{manufacturer.name}}?  </h2>
            <br>
            <h5>{% trans "If you have any Products assigned to " %} {{manufacturer.name}}, {% trans " these will be automatically updated to a blank manufacturer." %} </h5>
            <br>
            <button class="btn btn-danger" type="submit">
                <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                <span class="btn-txt">{% trans "Yes, I'm sure" %} &raquo;</span>
            </button>
            <a id="delete-team" class="btn btn-secondary ml-5" href="{% url 'manufacturer:list' %}">{% trans "No, take me back" %} &raquo;</a>
        </form>
    {% else %}
        <h1>{% trans "We're sorry" %}</h1>
        <hr/>
        <p>{% trans "The page you're looking for can't be found. " %}</p>
    {% endif %}
{% else %}
    {% if request.user.is_admin %}
        <h3>{% trans "To manage Cateogy, please upgrade your subscription." %}</h3>
        <a class="btn btn-success btn-md" href="{% url 'payment:enroll' %}">{% trans "Upgrade now" %}</a>
    {% else %}
        <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> {% trans "The subscription of your Organisation does not allow you to use this feature. Please contact your organisation administrator to upgrade." %}</h3>
    {% endif %}
{% endflag %}
{% endblock %}