{% extends "base.html" %}
{% block title %}About Us{% endblock title %}
{% block content %}
    <h1>How Does it work?</h1>
    <ul>
        <li>
           <p>Register using social media account </p>
        </li>
        <li>
            <p>Create your own department</p>
        </li>
        <li>
            <p>Create Agents</p>
        </li>
        <li>
            <p>Create Leads </p>
        </li>
        <li>
            <p>Upload external contact lists </p>
        </li>
        <li>
            <p>Data Quality checks on the uploads </p>
        </li>
        <li>
            <p>Manage Leads</p>
        </li>
        <li>
            <p>Activity Management</p>
        </li>
        <li>
            <p>Customised Pipelines</p>
        </li>
        <li>
            <p>Capture follow up Notes</p>
        </li>
        <li>
            <p>Manage Lead status</p>
        </li>
        <li>
            <p> Dashboards</p>
        </li>
        <li>
            <p>Set up Email Templates</p>
        </li>
        <li>
            <p>Connect to various Email providers</p>
        </li>
        <li>
            <p>Schedule tasks to send bulk emails</p>
        </li>
        <li>
            <p>Schedule tasks to manage lead lifecycle</p>
        </li>
    </ul>

{% endblock content %}