<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary mb-4">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-life-buoy"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="4.93" y1="4.93" x2="9.17" y2="9.17"></line><line x1="14.83" y1="14.83" x2="19.07" y2="19.07"></line><line x1="14.83" y1="9.17" x2="19.07" y2="4.93"></line><line x1="14.83" y1="9.17" x2="18.36" y2="5.64"></line><line x1="4.93" y1="19.07" x2="9.17" y2="14.83"></line></svg></div>
                            Knowledge Base
                        </h1>
                        <div class="page-header-subtitle">What are you looking for? Our knowledge base is here to help.</div>
                    </div>
                </div>
                <div class="page-header-search mt-4">
                    <div class="input-group input-group-joined">
                        <input class="form-control" type="text" placeholder="Search..." aria-label="Search" autofocus="">
                        <div class="input-group-append">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container">
        <!-- Knowledge base category-->
        <h2 class="mb-0 mt-5">Category Name</h2>
        <hr class="mt-2 mb-4">
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">How to update your billing information</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">Integrating with the API</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">Setting up new accounts within our platform</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">Accessing and editing order details</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">Installation instructions for Windows 10 users</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- Knowledge base item-->
        <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-article.html">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h5 card-title mb-0">Installation instructions for Mac OSX users</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right flex-shrink-0 ml-4"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </div>
        </a>
        <!-- knowledge base rating-->
        <div class="text-center mt-5">
            <h4 class="mb-3">Was this page helpful?</h4>
            <div class="mb-3">
                <button class="btn btn-primary mx-2 px-3" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up mr-2"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                    Yes
                </button>
                <button class="btn btn-primary mx-2 px-3" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down mr-2"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                    No
                </button>
            </div>
            <div class="text-small text-muted"><em>29 people found this page helpful so far!</em></div>
        </div>
    </div>
</main>