{% extends "base.html" %}
{% block title %}Pricing{% endblock title %}
{% block content %}
<!-- <div class="container"> -->
  <div class="text-center mb-5">
      <div class="display-4 text-primary mb-2">Pricing built for your business.</div>
      <div class="display-4">No surprises, no hassle.</div>
  </div>
  <!-- Detailed pricing example-->
  <div class="pricing-detailed">
      <div class="row align-items-center no-gutters">
          <!-- Detailed pricing column 1-->
          <div class="col-lg-6 z-1 mb-4 mb-lg-0">
              <div class="card text-center border-0">
                  <div class="card-header justify-content-center py-4"><h5 class="text-primary mb-0">Standard</h5></div>
                  <div class="card-body p-5">
                      <p class="lead">One easy to understand pricing plan for all of our users!</p> <p>Get access to essential features.</p>
                      <div class="mb-5">
                          <div class="display-3 text-dark">£9</div>
                          per month
                      </div>
                      <ul class="list-unstyled">
                          <li class="d-flex align-items-center justify-content-left mb-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Try for 7 days for free
                          </li>
                          <li class="d-flex align-items-center justify-content-left mb-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              No setup fees or any hidden fees
                          </li>
                          <li class="d-flex align-items-center justify-content-left">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Essential features for Individuals
                          </li>
                      </ul>
                  </div>
                  <a class="card-footer d-flex align-items-center justify-content-center" href="#!">
                      <strong class = "btn btn-primary">Start now</strong>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ml-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                  </a>
              </div>
          </div>
          <!-- Detailed pricing column 2-->
          <div class="col-lg-6">
              <div class="card bg-dark text-center pricing-detailed-behind">
                  <div class="card-header justify-content-center py-4"><h5 class="mb-0 text-white">Custom</h5></div>
                  <div class="card-body text-white p-5">Need something more? We offer customized, enterprise level plans for specific implementations. Contact our sales team to learn more about custom licensing!</div>
                  <a class="card-footer d-flex align-items-center justify-content-center" href="#!">
                      Contact sales
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ml-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <br>
  <hr>
<!-- <div class="container"> -->
  <div class="text-center mb-5">
      <div class="display-4 text-primary mb-2">Choose a pricing plan</div>
      <div class="display-4">Pick what's right for you</div>
  </div>
  <!-- Pricing columns example-->
  <div class="pricing-columns">
      <div class="row">
        <!-- Pricing column 1-->
          <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
              <div class="card h-100">
                  <div class="card-header bg-transparent">
                      <span class="badge badge-pill badge-info text-white  py-2 px-3 mb-2">Individual</span>
                      <div class="pricing-columns-price">
                          £9
                          <span>/month</span>
                      </div>
                  </div>
                  <div class="card-body p-0">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              1 user account
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Manage upto 300 leads
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Send monthly upto 500 emails.
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              1 email template
                          </li>
                          <li class="list-group-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            7 Days free trial
                        </li>
                      </ul>
                  </div>
                  <a class="card-footer d-flex align-items-center bg-info justify-content-between text-white bg-primary-soft" href="#!">
                      Get started!
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                  </a>
              </div>
          </div>
          <!-- Pricing column 2-->
          <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
              <div class="card h-100">
                  <div class="card-header bg-transparent">
                      <span class="badge badge-warning text-white badge-pill py-2 px-3 mb-2">Team</span>
                      <div class="pricing-columns-price">
                          £39
                          <span>/month</span>
                      </div>
                  </div>
                  <div class="card-body p-0">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Up to 5 user accounts
                          </li>
                          <li class="list-group-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            Manage upto 2000 leads
                          </li>
                          <li class="list-group-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            Send monthly 5000 emails
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Team collaboration tools
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              Upload Leads
                          </li>
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                              5 Email templates
                          </li>
                          <li class="list-group-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-secondary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            7 Days free trial
                         </li>

                      </ul>
                  </div>
                  <a class="card-footer d-flex align-items-center justify-content-between text-white bg-warning text-decoration-none" href="#!">
                      Get started!
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                  </a>
              </div>
          </div>
          <!-- Pricing column 3-->
          <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
              <div class="pricing-table">
                  <div class="card h-100">
                      <div class="card-header bg-transparent">
                          <span class="badge badge-success text-white badge-pill py-2 px-3 mb-2">Organization</span>
                          <div class="pricing-columns-price">
                              £249
                              <span>/month</span>
                          </div>
                      </div>
                      <div class="card-body p-0">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Up to 50 user accounts
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Manage upto 10,000 leads
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Send monthly 15000 emails.
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Team collaboration tools
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Create teams &amp; groups
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Upload leads
                              </li>
                              <li class="list-group-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                20 Email Templates
                              </li>
                              <li class="list-group-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                Dashboard
                              </li>
                              <li class="list-group-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                14 Days free trial
                              </li>
                              <li class="list-group-item">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                  Priority customer support
                              </li>
                          </ul>
                      </div>
                      <a class="card-footer d-flex align-items-center justify-content-between text-white bg-success text-decoration-none" href="#!">
                          Get started!
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->
<!-- </div> -->

<br/>
<hr class="my-10">
<br/>
 
{% endblock content %}