{% extends "users/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load waffle_tags %}

{% block head_title %} {{ user.username }} - Subscription Cancel Confirmation {% endblock head_title %}

{% block inner %}

{% if object == request.user %}
    {% if request.user.is_admin %}
    <h1>{% trans 'Cancel Subscription Confirmation '%}</h1>
    <hr/>
        </br >
        <form id="cancel-subscription-form" method="post">
            {% csrf_token %} 
            <h2>{% trans "Are you sure?" %}</h2>
            <h5>{% trans "Cancelling your subscription" %} "{{subscription}}" {% trans "will result in reverting to free for life subscription."  %} </h5>
            <br>
            <button id="submit" class="btn btn-danger" type="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">{% trans "Yes, I'm sure" %} &raquo;</span>
            </button>
            <a id="delete-team" class="btn btn-secondary ml-5" href="{% url 'users:subscription' request.user.username %}">{% trans "No, take me back" %} &raquo;</a>
            <div id="messages"></div>
        </form> 

    {% else %}
        <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> Permission denied. Please contact your organisation administrator.</h3>
    {% endif %}
{% else %}
    <h1>We're sorry</h1>
    <hr/>
    <p>The page you're looking for can't be found. </p>
{% endif %}

{% endblock %}

{% block pageend-js %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let subscriptionId = "{{ subscriptionId }}"
    let stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

    const form = document.querySelector('#cancel-subscription-form');
    form.addEventListener('submit', async (e) => {
      // Don't fully submit the form.
      e.preventDefault();
    
      changeLoadingState(true);
      setMessage("Cancelling... please wait.");
      cancelSubscription();

    }); 

    function cancelSubscription() {
        return fetch("{% url 'payment:cancel-subscription' %}", {
        method: 'post',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
            subscriptionId: subscriptionId,
        }),
        })
        .then(response => {
            return response.json();
        })
        .then(cancelSubscriptionResponse => {
            setMessage("Subcription has been cancelled.");
            window.location.href = "{% url 'users:subscription' request.user.username %}"
        });
    }

    function changeLoadingState(isLoading) {
        if (isLoading) {
          document.querySelector('#button-text').classList.add('hidden');
          document.querySelector('#spinner').classList.remove('hidden');
          document.querySelector('#cancel-subscription-form button').disabled = true;
        } else {
          document.querySelector('#button-text').classList.remove('hidden');
          document.querySelector('#spinner').classList.add('hidden');
          document.querySelector('#cancel-subscription-form button').disabled = false;
        }
        }
        
        
        // helper method for displaying a status message.
        const setMessage = (message) => {
            const messageDiv = document.querySelector('#messages');
            messageDiv.innerHTML += "<br>" + message;
        } 

</script>
{% endblock pageend-js %}