{% extends "users/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %} {{ request.user.username }} - Subscription - Training {% endblock head_title %}


{% block content %}

{% if user == request.user %}
    {% if user.userorganization == request.user.userorganization %} 
        {% if request.user.is_admin %}
    
            <h1>Pricing Plan</h1>
            <hr>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Your current plan : {{ request.user.subscription.pricing.name}}
                        </button>
                    </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p id="datetocount" class="hide" >{{ request.user.subscription.freeTrialEndDate|date:"d F Y" }}</p>
                        
                        
                        {% if request.user.subscription.isTrialActive %}
                            <div class="rounded bg-gradient-info text-white shadow p-5 text-center mb-5 bg-info">
                                <p class="mb-0 font-weight-bold text-uppercase">Your trial will end in...</p>
                                <span class="h1 font-weight-bold"><p id="trialendcounter" ></p></span>
                                
                                
                                <ul class="list-inline">
                                    <li class="list-inline-item pt-2">
                                    <a href="#subscription_plans" class="flex items-center mt-auto text-white bg-gray-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-600 rounded">
                                        Upgrade to continue using the CRM
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            {% if request.user.subscription.status == "active" %}
                                <p class="card-text">Your Trail status - 
                                    {% if request.user.subscription.isTrialActive %}
                                        Active
                                    {% else %}
                                        Expired
                                    {% endif %}    
                                </p>
                                <p class="card-text">Your subscription status - 
                                    {% if request.user.subscription.status == "active" %}
                                        Active
                                    {% else %}
                                        {% if request.user.subscription.status == "Canceled" %}
                                            Canceled
                                        {% else %}
                                            {% if request.user.subscription.status == "incomplete" %}    
                                                Incomplete
                                            {% else %}
                                                {% if request.user.subscription.status == "incomplete_expired" %} 
                                                    Expired
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <p class="card-text"> Your Invoice Paid status - 
                                </p>
                                <a href="{% url 'users:subscription' user.username %}" class="card-link">Take me back, dont want to upgrade.</a>

                            {% else %}
                                <div class="rounded bg-gradient-danger text-white shadow p-5 text-center mb-5 bg-info">
                                    <p class="mb-0 font-weight-bold text-uppercase">Your trial has ended.</p>
                                    <span class="h1 font-weight-bold"><p> Your subscription has been reverted to Free for life plan. Please upgrade.</p></span>
                                    <!-- Call to actions -->
                                    <ul class="list-inline">
                                        <li class="list-inline-item pt-2">
                                            <a href="#subscription_plans" class="flex items-center mt-auto text-white bg-gray-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-600 rounded">
                                                Upgrade to continue using the CRM
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif%}
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        <br>
        <br>
            <h3 id="subscription_plans">Here's what's included in each plan. Select the pricing plan that best suits you.</h3>

            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-m font-weight-bold text-primary text-uppercase mb-1">
                                        Free For Life
                                    </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            £0 for life
                                        </div>
                                </div>
                            </div>
                            <hr>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <ul>
                                    <li>
                                    <p> Register using social media account </p>
                                    </li>
                                    <li>
                                        <p> Manage upto 50 leads </p>
                                    </li>
                                    <li>
                                        <p> Create two email templates </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Basic Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-m font-weight-bold text-success text-uppercase mb-1">
                                        Basic</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">£5 per month</div>
                                </div>
                            </div>
                            <hr>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <ul>
                                    <li>
                                    <p> Register using social media account </p>
                                    </li>
                                    <li>
                                        <p> Manage upto 50 leads </p>
                                    </li>
                                    <li>
                                        <p> Create two email templates </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="my-2"></div>
                            {% if request.user.subscription.pricing.name != "Basic"  %}
                                <a href="{% url 'payment:checkout' 'Basic' %}" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Select</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Essential Subscription -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-m font-weight-bold text-info text-uppercase mb-1">Essential 
                                        <span class="icon text-gold-50">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span class="icon text-gold-50">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">£10 per month</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <ul>
                                    <li>
                                    <p> Register using social media account </p>
                                    </li>
                                    <li>
                                        <p> Manage upto 50 leads </p>
                                    </li>
                                    <li>
                                        <p> Create two email templates </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="my-2"></div>
                            {% if request.user.subscription.pricing.name != "Essential"  %}
                                <a href="{% url 'payment:checkout' 'Essential' %}" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Select</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Enterprise Subscription -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-m font-weight-bold text-warning text-uppercase mb-1">
                                        Enterprise </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">£15 per month</div>
                                </div>
                            </div>
                            <hr>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <ul>
                                    <li>
                                    <p> Register using social media account </p>
                                    </li>
                                    <li>
                                        <p> Manage upto 50 leads </p>
                                    </li>
                                    <li>
                                        <p> Create two email templates </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="my-2"></div>
                            {% if request.user.subscription.pricing.name != "Enterprise"  %}
                                <a href="{% url 'payment:checkout' 'Enterprise' %}" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Select</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% else %}
            <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> Permission denied. Please contact your organisation administrator.</h3>  
        {% endif %}
    {% else %}
        <h1>We're sorry</h1>
        <hr/>
        <p>The page you're looking for can't be found. Else 1 </p>
    {% endif %}
{% else %}
      <h1>We're sorry</h1>
      <hr/>
      <p>The page you're looking for can't be found.Else 2 </p>
{% endif %}


{% endblock content %}  
{% block pageend-js %}
<script>
document.addEventListener('DOMContentLoaded', function(e) {
    e.preventDefault();

    if ("{{request.user.subscription.isTrialActive}}" == "True") {
        countDownCounter();
    }

    function countDownCounter(){

        // Set the date we're counting down to
        var datetocount = document.getElementById("datetocount").innerHTML

        var countDownDate = new Date(datetocount).getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        document.getElementById("trialendcounter").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
            
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("trialendcounter").innerHTML = "EXPIRED";
        }
        }, 1000);
    }    
})
</script>

{% endblock pageend-js %}
