{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load i18n compress %}
{% load static %}
{% load waffle_tags %}
{% load timestamp_to_time %}

{% block title %} User: {{ object.username }} - Subscription {% endblock %}

{% block content %}
{% if object == request.user %}
  {% if user.userorganization == request.user.userorganization %}
    {% if request.user.is_admin %}
        <h1>{% trans 'Subscription - Billing' %} </h1>
        <hr>
        {% if request.user.subscription.is_active %}
          <div id = "success-message"></div>
          <div class="row">
            <div class="col-lg-4 mb-4">
                <!-- Billing card 1-->
                <div class="card h-100 border-left-lg border-left-warning">
                    <div class="card-body">
                        <div class="small text-muted">{% trans 'Current monthly bill' %}</div>
                        <div class="h3">
                          {% if currency == "gbp" %}
                            £
                          {% else %}
                            {% if currency == "eur" %}
                              €
                            {% else %}
                              {% if currency == "usd" %}
                                $
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          {{ unit_amount }}</div>
                        <br>
                        <a href="#" class="btn btn-warning btn-icon-split ">
                          <span class="icon text-white">
                              <i class="fas fa-exchange-alt"></i>
                          </span>
                          <span class="text">{% trans 'Switch to yearly billing'  %}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Billing card 2-->
                <div class="card h-100 border-left-lg border-left-secondary">
                    <div class="card-body">
                        <div class="small text-muted">{% trans 'Next payment due'  %}</div>
                        <div class="h3">{{current_period_end}}</div>
                        <br>
                        <a href="#billing_history" class="btn btn-secondary btn-icon-split ">
                          <span class="icon text-white">
                              <i class="fas fa-history"></i>
                          </span>
                          <span class="text">{% trans 'View payment History'  %}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Billing card 3-->
                <div class="card h-100 border-left-lg border-left-success">
                    <div class="card-body">
                        <div class="small text-muted">{% trans 'Current plan'  %}</div>
                          <div class="h3 d-flex align-items-center">{{pricing_name}}</div>
                          <p>{% trans ' Created on:' %}  {{ user.subscription.dateTimeModified}} </p>
                          <div class="row d-inline-block pl-4">
                            <a href="{% url 'payment:enroll' %}" class="btn btn-primary btn-icon-split ">
                              <span class="icon text-white">
                                  <i class="fas fa-arrow-alt-circle-up"></i>
                              </span>
                              <span class="text">{% trans 'Change Plan'  %}</span>
                            </a>

                            {% if status == "active" %}
                              <a class=" small text-danger pl-4" href=" {% url 'users:cancel-subscription' request.user.username %}">
                                {% trans 'Cancel Subscription'  %}
                              </a>
                            {% endif %}
                          </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="card card-header-actions mb-4">
            <div class="card-header">
                <h3>{% trans 'Billing status  - '  %} <span class="text-capitalize">{{status}}</span></h3>
            </div>
            <div class="card-body">
                <!-- Payment method 1-->
                <div>
                  <p>Trial Start Date - {{trial_start}}</p>
                  <p>Trial End Date - {{trial_end}}</p>

                  <hr>
                  <p>billing_thresholds - {{billing_thresholds}}</p>
                  <p>cancel_at - {{cancel_at}}</p>
                  <p>cancel_at_period_end - {{cancel_at_period_end}}</p>
                  <p>canceled_at - {{canceled_at}}</p>
                  <hr>
                  <p>Collection Method - {{collection_method}}</p>
                  <p>Pricing Type - {{pricing_type}}</p>
                  <p>Current Billing Start Period -  {{current_period_start}}</p>
                  <p>Current Billing End Period - {{current_period_end}}</p>
                  <p>Days until due - {{days_until_due}}</p>
                  <p>Default Payment Method - {{default_payment_method}}</p>
                </div>
                <hr>
            </div>
          </div>
          <div class="card card-header-actions mb-4">
            <div class="card-header d-inline">
                <strong class="mb-0 mt-2 display-5 font-weight-bold" >{% trans 'Payment Methods' %} </strong>
                <a href="{% url 'payment:PaymentMethodAddCheckout' pricing_name %}" class="btn btn-primary float-right mt-0">
                  <span class="text">{% trans 'Add Payment Method'  %}</span>
                </a>
            </div>

            <div class="card-body">
              {% for pmt_method in pmt_method_qs %}
                <div class="d-flex align-items-center justify-content-between custom-control-inline">
                  <div class="d-flex align-items-center">
                      {% if pmt_method.brand == "visa" %}
                      <i class='fab fa-cc-visa' style='font-size:48px' ></i>
                      {% else %}
                        {% if pmt_method.brand == "mastercard" %}
                          <i class='fab fa-cc-mastercard' style='font-size:48px' ></i>
                        {% else %}
                          {% if pmt_method.brand == "amex" %}
                            <i class='fab fa-cc-amex' style='font-size:48px' ></i>
                          {% else %}
                            <i class='far fa-credit-card' style='font-size:48px' ></i>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                      <div class="ml-4">
                        <div class="small">{{pmt_method.brand}} {{pmt_method.type}} ending in {{pmt_method.last4}}</div>
                        <div class="text-xs text-muted">Expires {{pmt_method.expiry_month}}/{{pmt_method.expiry_year}}</div>
                      </div>
                  </div>
                  <div class="ml-4 small btn-group d-inline-block">
                      {% if pmt_method.is_default %}
                          <div class="badge badge-light mr-3">Default</div>
                          <a href="{% url 'payment:PaymentMethodUpdate' pmt_method.pk %}"> <span  class= "mr-3">Edit</span></a>
                      {% else %}
                          <form method='POST'action='{% url 'users:paymentMethod-update' pmt_method.pk %}' >{% csrf_token %}
                              <button type='submit' class= "btn btn-link">
                                <span  class= "btn-text d-inline small mr-0 ">Make Default </span>
                              </button>
                          </form>
                          <a href="{% url 'payment:PaymentMethodUpdate' pmt_method.pk %}"> <span  class= "mr-3">Edit</span></a>
                      {% endif %}
                    </div>
                </div>
              <hr>
              {% endfor %}
            </div>
          </div>
          <div class="card mb-4">
            <div id="billing_history" class="card-header"><strong class="mb-0 mt-2 display-5 font-weight-bold" >{% trans 'Billing History' %} </strong></div>
            <div class="card-body p-0">
                <!-- Billing history table-->
                <!-- {{customer_invoice_list}} -->

                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Invoice ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Download Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for invoice in customer_invoice_list %}
                            <tr>
                                <td>{{invoice.number}}</td>
                                <td>{{invoice.created|timestamp_to_time}}</td>
                                <td>  {% if invoice.currency == "gbp" %}
                                        £
                                      {% else %}
                                        {% if invoice.currency == "eur" %}
                                           €
                                        {% else %}
                                          {% if invoice.currency == "usd" %}
                                            $
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                      {{invoice.amount_paid |localize}}
                                </td>
                                <td>
                                  {% if invoice.status == "paid" %}
                                    <span class="badge badge-success">Paid</span>
                                  {% else %}
                                    <span class="badge badge-light">Pending</span>
                                  {% endif %}
                                </td>
                                <td>
                                  <a href="{{invoice.invoice_pdf}}">
                                      <i class='fas fa-download' style='font-size:24px'></i>
                                  </a>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      {% else %}
        {% if user.subscription.pricing.name == "FreeForLife" %}
            <div class="card h-100 border-left-lg border-left-success">
              <div class="card-body">
                  <div class="small text-muted">{% trans 'Current plan'  %}</div>
                    <div class="h3 d-flex align-items-center">{{ user.subscription.pricing.name }}</div>
                    <p>{% trans ' Created on:' %}  {{ user.subscription.dateTimeCreated}} </p>
                    <div class="row d-inline-block pl-4">
                      <a href="{% url 'payment:enroll' %}" class="btn btn-primary btn-icon-split ">
                        <span class="icon text-white">
                            <i class="fas fa-arrow-alt-circle-up"></i>
                        </span>
                        <span class="text">{% trans 'Change Plan'  %}</span>
                      </a>

                      {% if status == "active" %}
                        <a class=" small text-danger pl-4" href=" {% url 'users:cancel-subscription' request.user.username %}">
                          {% trans 'Cancel Subscription'  %}
                        </a>
                      {% endif %}
                    </div>
              </div>
            </div>
        {% else %}
            <h3 class="btn btn-info"><i class='fas fa-bell' style='font-size:36px'></i> <span class="mr-2">Please be patient while we set the subscription and enable your access. </span></h3>
            <br>
            <br>
            <a class="btn btn-warning"href="{% url 'users:subscription' request.user.username %}">Click here to refresh the page.</a>
        {% endif %}
      {% endif %}
    {% else %}
      <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> Permission denied. Please contact your organisation administrator.</h3>
    {% endif %}
  {% else %}
    <h1>We're sorry</h1>
    <hr/>
    <p>The page you're looking for can't be found. </p>
  {% endif %}
{% else %}
    <h1>We're sorry</h1>
    <hr/>
    <p>The page you're looking for can't be found. </p>
{% endif %}
{% endblock content %}

{% block pageend-js %}
  <script>
    document.addEventListener('DOMContentLoaded', async (e) => {
      e.preventDefault();
      console.log("DOM loaded")
      const showMessage = localStorage.getItem('subscribedMessage.show');
      console.log(showMessage)
      if (showMessage === true){
          console.log("show message true")
          alert("Congratulations, your subscription is being activated.")
          localStorage.setItem('subscribedMessage.show', false)
      }
    })
  </script>
{% endblock pageend-js %}
