{% extends "users/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load waffle_tags %}
{% load thumbnail %}

{% block head_title %} {{ user.username }} - Lead Update {% endblock head_title %}

{% block content %}
{% flag "update_lead" %}

    {% if lead.organisation == user.userorganization %}
    <div class=d-lg-inline>
        <a id="update-lead"class="btn-link ml-5 float-right" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a></li>
        <h1>{% trans "Update Lead" %}</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="update_lead" id="myForm" method="post" action="{% url 'leads:update' lead.pk %}" enctype="multipart/form-data">
                <!-- {% csrf_token %} -->
                {% crispy form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a id="leaddetail" class="card-link ml-5" href="{% url 'leads:detail' lead.pk %}">{% trans "Cancel" %}</a>
                <!-- <a id="leaddetail" class="card-link float-right ml-3" href="{% url 'leads:detail' lead.pk %}">{% trans "Cancel" %}</a> -->
            </form>
        </div>
    </div>
        <br>
    {% else %}
        <h1>We're sorry</h1>
        <hr/>
        <p>The page you're looking for can't be found. </p>
    {% endif %}
{% else %}
    {% if request.user.is_admin %}
        <h3>To manage Leads, please upgrade your subscription.</h3>
        <a class="btn btn-success btn-md" href="{% url 'payment:enroll' %}">Upgrade now</a>
    {% else %}
        <h3 class="btn btn-warning"><i class='fas fa-sad-tear' style='font-size:36px'></i> The subscription of your Organisation does not allow you to use this feature. Please contact your organisation administrator to upgrade.</h3>
    {% endif %}
{% endflag %}

{% endblock content %}
{% block pageend-js %}
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.js' %}">  </script>
{% endblock pageend-js %}